:root {
    /* color  */
    --color-blue: #2c49fe;
    --color-light-blue: #01c8ff;
    --color-dark-light-blue: #18205c;
    --color-light-white: #c1c6ee;
    --color-light-black: #4d4d4d;
    --color-white: #ffffff;
    --color-red: red;
    /* font-size  */
    --fs-lg: 36px;
    --fw-xxl: 64px;
    --fs-sm: 14px;
    --fs-md: 25px;
    --fs-xl: 48px;
    --fs-sm-less: 12px;
}

.bg-color-blue {
    background-color: var(--color-blue);
}

.color-blue {
    color: var(--color-blue);
}

.color-light-blue {
    color: var(--color-light-blue);
}

.color-light-white {
    color: var(--color-light-white);
}

.color-light-black {
    color: var(--color-light-black) !important;
}

.color-dark-light-blue {
    background-color: var(--color-dark-light-blue);
}

.fs-lg {
    font-size: var(--fs-lg);
}

.fw-xxl {
    font-size: var(--fw-xxl);
}

.fs-sm {
    font-size: var(--fs-sm);
}

.fs-md {
    font-size: var(--fs-md);
}

.fs-xl {
    font-size: var(--fs-xl);
}

.fs-sm-less {
    font-size: var(--fs-sm-less);
}

@media (max-width:576px) {
    :root {
        --fw-xxl: 45px;
        --fs-lg: 19px;
        --fs-sm: 12px;
        --fs-md: 22px;
        --fs-xl: 42px;
        --fs-sm-less: 10px;
    }
}